<!doctype html>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta name = "introduction" content = "no-reference"> 
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Space Science Website Template</title>
	<link rel="stylesheet" href="css/style.css" type="text/css">
	<link rel="stylesheet" type="text/css" href="css/mobile.css">
	<script src="js/mobile.js" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		<div id="header">
			<div>
				<a href="index.html" class="logo"><img src="images/dano.jpg" alt=""></a>
				<ul id="navigation">
					<li class="selected">
						<a href="index.html">Home</a>
					</li>
					<li>
						<a href="about.html">About</a>
					</li>
					<li class="menu">
						<a href="projects.html">Projects</a>
						<ul class="primary">
							<li>
								<a href="proj1.html">proj 1</a>
							</li>
						</ul>
					</li>
					<li class="menu">
						<a href="blog.html">Blog</a>
						<ul class="secondary">
							<li>
								<a href="singlepost.html">Single post</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="contact.html">Contact</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="body" class="home">
			<div class="header">
				<div>
					

				<h1>Gera Shoes</h1>
				

					<h3>type shoes</h3>
					<ul>
						<li>
							<a href="projects.html"><img src="images/adidas5.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src="images/adidas6.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src="images/adidas7.jpg" alt=""></a>
						</li>
						<li>
							<a href="projects.html"><img src="images/adidas8.jpg" alt=""></a>
						</li>
					</ul>
				</div>
			</div>
			<div class="body">
				<div>
					<h1>OUR SHOES</h1>
					<p>This site comes to show you many types of shoes from different companies
					</p>
				</div>
			</div>
			<div class="footer">
				<div>
					<ul>
						<li>
							<h1>How to Recognize if the shoes is fake or not</h1>
							<a href="blog.html">
								<iframe width="560" height="315" src="https://www.youtube.com/embed/LLkDm76aDKY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
							
			</ul>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="connect">
				<div>
					<div>
					</div>
				</div>
			</div>
			<div class="footnote">
				<div>
					<p>&copy; 2022 BY GERA KRITSIN | ALL RIGHTS RESERVED</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>