<h1>Login</h1>
					<form onsubmit="register()">
						<span>E-Mail</span>
						<input id="mail" type="email" />
						<span>Password</span>
						<input id="pass" type="password" />
						<input id="submit" type="submit" />
					</form>